
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Compute Distance</title>
</head>
<body>
    <h1>Distance Is : @ViewBag.Distance</h1>
</body>
</html>
